*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
    color: white;
    
}
.navlist ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
   
     
}
.navlist li{

    margin: 20px;
}

.flipper-body{
   
   text-align: center; 
   margin: auto;
   padding: 300px;
    
}
#btn{
    padding: 10px;
    border:1px solid ;
    border-radius: 10px;
    margin: 10px;
    background-color: black;
    color: white;
    cursor:pointer;
}

